* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container {
    display: flex;
    align-items: center;
    background-color: #1F2937;
    color: white;
    justify-content: space-between;
    height: 50px;


}


.item2 {
    display: flex;
    gap: 20px;
    margin-right: 200px;
}

.item1 {
    margin-left: 200px;
}

.item2 li a {
    text-decoration: none;
    color: white;

}

li {
    list-style: none;
}
